@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accent: oklch(92.427% 0.11504 95.756);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dyna-puff: var(--font-dyna-puff);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--accent);
  color: var(--foreground);
  font-family: DynaPuff, system-ui;
  font-optical-sizing: auto;
}
